{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Вхід</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Увійти</button>
        </form>
        <div class="link-switch">
            <p>Немає акаунта? <a href="{% url 'register' %}">Зареєструватись</a></p>
        </div>
    </div>
</body>
</html>
