{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Реєстрація</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зареєструватись</button>
        </form>
        <div class="link-switch">
            <p>Вже маєш акаунт? <a href="{% url 'login' %}">Увійти</a></p>
        </div>
    </div>
</body>
</html>
